<header>
  <div class="race-controls">
    <button
      mat-flat-button
      color="primary"
      matTooltip="Start Car"
      [disabled]="isStartRacing()"
      (click)="onStartRacing()"
    >
      <mat-icon>play_arrow</mat-icon>
      Start
    </button>
    <button
      (click)="onResetRacing()"
      mat-stroked-button
      color="primary"
      [disabled]="!isStartRacing()"
      matTooltip="Reset Car"
    >
      <mat-icon>restart_alt</mat-icon>
      Reset
    </button>
  </div>
  <div class="cars-control">
    <form
      class="car-controls"
      [formGroup]="newCarForm"
      (ngSubmit)="onCreateCar()"
    >
      <mat-form-field class="form-input" color="primary">
        <mat-label>Type Car Brand</mat-label>
        <input matInput type="text" formControlName="name" />
      </mat-form-field>
      <input matInput type="color" formControlName="color" />
      <button
        type="submit"
        mat-stroked-button
        color="primary"
        matTooltip="Add Car"
        [disabled]="!newCarForm.value.name"
      >
        Create
      </button>
    </form>
    <form
      class="car-controls"
      [formGroup]="updateCarForm"
      (ngSubmit)="onUpdateCar()"
    >
      <mat-form-field class="form-input" color="primary">
        <mat-label>Type Car Brand</mat-label>
        <input matInput type="text" formControlName="name" />
      </mat-form-field>
      <input matInput type="color" formControlName="color" />
      <button
        type="submit"
        mat-stroked-button
        color="primary"
        matTooltip="Update Car"
        [disabled]="!updateCarForm.value.name"
      >
        Update
      </button>
    </form>
  </div>
  <button
    mat-flat-button
    color="primary"
    matTooltip="Add Random Cars"
    (click)="onGenerateCars()"
  >
    Generate Cars
  </button>
</header>

<main>
  <section class="garage-racing-area">
    @for (car of store.groupCars(); track car.id) {
      <app-car
        [carInfo]="car"
        [setReadyGo]="isStartRacing()"
        (onAction)="onCarAction($event)"
      ></app-car>
    }
  </section>
  <section class="garage-details-area">
    <h1>{{ store.nameWithCount() }}</h1>

    @if (store.selectedId()) {
      <h3>Selected Car ID: {{ store.selectedId() }}</h3>
    }

    @if (store.total() > pageLimit) {
      <div class="page-info">
        <h3>{{ store.pageInfo() }}</h3>

        <mat-paginator
          [length]="store.total()"
          [pageIndex]="store.paginationIndex()"
          [pageSize]="pageLimit"
          [hidePageSize]="true"
          (page)="onPaginatorPageChange($event)"
          aria-label="Select page"
        >
        </mat-paginator>
      </div>
    }
  </section>
</main>
