<div class="car-controls">
  <button
    [disabled]="setReadyGo() || singleCarRaceState()"
    mat-icon-button
    color="primary"
    matTooltip="Start Car"
    (click)="
      onActionBtn({
        id: carInfo().id,
        name: carInfo().name,
        action: 'started',
        color: carInfo().color
      })
    "
  >
    <mat-icon>play_arrow</mat-icon>
  </button>
  <button
    [disabled]="singleCarRaceState() ? !singleCarRaceState() : !setReadyGo()"
    mat-icon-button
    color="primary"
    matTooltip="Stop/Reset Car"
    (click)="
      onActionBtn({
        id: carInfo().id,
        name: carInfo().name,
        action: 'stopped',
        color: carInfo().color
      })
    "
  >
    <mat-icon>stop</mat-icon>
  </button>
  <button
    mat-icon-button
    color="primary"
    matTooltip="Update Car"
    (click)="
      onActionBtn({
        id: carInfo().id,
        name: carInfo().name,
        action: 'update',
        color: carInfo().color
      })
    "
  >
    <mat-icon>tune</mat-icon>
  </button>
  <button
    mat-icon-button
    color="primary"
    matTooltip="Delete Car"
    (click)="
      onActionBtn({
        id: carInfo().id,
        name: carInfo().name,
        action: 'delete',
        color: carInfo().color
      })
    "
  >
    <mat-icon>delete</mat-icon>
  </button>
</div>
<div class="car-road" #carRoad>
  <div
    class="car-icon"
    [@readyGo]="{
      value: carRacingState(),
      params: { time: timing(), leftValue: getLeftValue() }
    }"
  >
    <mat-icon [style.color]="carInfo().color">snowmobile</mat-icon>
  </div>
  <div class="race-start-line">start</div>
  <div class="race-line">{{ carInfo().name }}</div>
  <div class="race-finish-line">finish</div>
  <div class="race-winners-spot"></div>
</div>
